[homing_override]
axes: xyz
set_position_z: 0
gcode:
   {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}
   G90
   G0 Z5 F600
   {% if home_all or 'X' in params %}
    _HOME_X
   {% endif %}
   {% if home_all or 'Y' in params %}
    _HOME_Y
   {% endif %}
   {% if home_all or 'X' in params %}
    _HOME_X
   {% endif %}
   {% if home_all or 'Y' in params %}
    _HOME_Y
   {% endif %}
   {% if home_all or 'Z' in params %}
    _HOME_Z
   {% endif %}

[gcode_macro _HOME_X]
gcode:
    # Always use consistent run_current on A/B steppers during sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 1.5 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

    # Lift Z before Home X
    G1 Z10 F1200
    # Home
    G28 X
    # Move away
    G91
    G1 X-10 F1200
    
    # Wait just a second… (give StallGuard registers time to clear)
    G4 P1000
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

[gcode_macro _HOME_Z]
gcode:
    # Always use consistent run_current on A/B steppers during sensorless homing
    G90
    G0 X115 F2800
    G0 Y115 F2800
    G28 Z
    G90
    G1 Z10 F1200
    # Wait just a second… (give StallGuard registers time to clear)
    G4 P1000

[gcode_macro _HOME_Y]
gcode:
   _IF_MOVE_Y
  {% if printer['gcode_macro xyz_ready'].y_ready|int == 1 %}
    {% set HOME_CUR = 0.200 %}
    {% set driver_config = printer.configfile.settings['tmc2209 stepper_y'] %}
    {% set RUN_CUR = driver_config.run_current %}
    # Set current for sensorless homing
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
    G4 P500
    G91
    {% set stepper_y = printer.configfile.settings['stepper_y'] %}
    {% if printer.toolhead.position.y|int < (stepper_y.position_endstop + printer['gcode_macro PRINTER_PARAM'].xy_home_len) %}
      {% set y_park = (stepper_y.position_endstop + printer['gcode_macro PRINTER_PARAM'].xy_home_len) - printer.toolhead.position.y|int %}
      G1 y{y_park} F2400
    {% endif %}
    G90
    G4 P500 # 1000
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CUR}
  {% endif %}
  # SET_TMC_FIELD FIELD=SGTHRS STEPPER=stepper_y VALUE=85
  G28 Y
  SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=y_ready VALUE=1
  G91
  G1 Y{printer['gcode_macro PRINTER_PARAM'].xy_home_len + 1} F3600
  G4 P2000
  G28 Y
  G1 Y10 F3600
  G90
  # Wait just a second (give StallGuard registers time to clear)
  # G4 P2000
